{% extends 'index.html' %}

<!-- prettier-ignore -->
{% block content %} {% load static %}
<link rel="stylesheet" href="/static/styles/order_grid.css" />
<style>
  /* Styles for the buttons */
  .increase-btn,
  .decrease-btn,
  .delete-btn {
    background-color: #e74c3c; /* Change background color to red */
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add a transition effect */
  }

  /* Change button background color to a darker shade of red when hovered */
  .increase-btn:hover,
  .decrease-btn:hover,
  .delete-btn:hover {
    background-color: #c0392b; /* Darker shade of red */
  }
</style>
<h1>Моя корзина</h1>
<a href="/cart/ordering"><h1>Мои заказы:</h1></a>

{% if orders %}
<div>
  {% for order in orders %}
  <div class="main-div" data-id="{{order.id}}">
    <h1>
      Заказ {{order.product.name}} в количестве
      <span class="quantity" data-id="{{order.id}}">{{order.quantity}}</span>
      единиц
      <button class="increase-btn" data-id="{{order.id}}">+</button>
      <button class="decrease-btn" data-id="{{order.id}}">-</button>
      <button class="delete-btn" data-id="{{order.id}}">Уд</button>
    </h1>
  </div>

  {% endfor %}

  <span class="total">Сумма заказа: {{total}} рублей</span>
  <h1>
    --------------------------------------------------------------------------
  </h1>
  <h2>Подробнее:</h2>
  <style>
    .main-div-detail img:hover {
      border: 2px solid white;
    }
  </style>
  <div class="grid-container">
    {% for order in orders %}
    <div class="grid-item" data-id="{{order.id}}">
      <div class="main-div-detail" data-id="{{order.id}}">
        <h1>
          {{ order.product.name }} x
          <span class="order-product-quantity" data-id="{{order.id}}"
            >{{ order.quantity }}</span
          >
        </h1>
        <h1>
          <span class="order_price" data-id="{{order.id}}"
            >{{ order.product.price }}</span
          >
          x
          <span class="order_quantity" data-id="{{order.id}}"
            >{{ order.quantity }}</span
          >
          =
          <span class="order_sum" data-id="{{order.id}}">{{ order.sum }}</span>
          рублей
        </h1>
        <a href="/menu/dishes/{{ order.product.name }}"
          ><img src="http://localhost:8000/media/{{ order.product.image }}"
        /></a>
      </div>
    </div>

    {% endfor %}
  </div>
  <span class="total_total">Сумма заказа: {{total}} рублей</span>
  <style>
    /* Styles for the submit button */
    input[type="submit"] {
      background-color: #e74c3c; /* Red background color */
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 50px; /* Make it oval with a larger border-radius */
      cursor: pointer;
      transition: transform 0.1s ease; /* Add a transformation effect on press */
    }

    /* Add a scale-down effect when the button is pressed */
    input[type="submit"]:active {
      transform: scale(0.95);
    }
  </style>
  {% if orders %}
  <form method="POST">
    {% csrf_token %}<input type="submit" value="Оформить заказ" />
  </form>
  {% endif %}
</div>
{% else %}
<h1>Ваша корзина пуста</h1>
{% endif %}

<script>
  const socket = new ReconnectingWebSocket(
    "ws://" + window.location.host + "/ws/CartEditingSocket/"
  );

  socket.onopen = function () {
    console.log("CartEditingSocket соединение открыто.");
  };

  socket.onmessage = function (e) {
    const notification = JSON.parse(e.data);
    const text = notification["action"] + " " + notification["id"];
  };

  socket.onclose = function () {
    console.log("CartEditingSocket соединение закрыто. Переподключение...");
  };

  // Отправляем данные на сервер при нажатии на кнопку "+" или "-"
  const increaseButtons = document.querySelectorAll(".increase-btn");
  const decreaseButtons = document.querySelectorAll(".decrease-btn");
  const deleteButtons = document.querySelectorAll(".delete-btn");

  increaseButtons.forEach((button) => {
    button.addEventListener("click", () => {
      const orderId = button.dataset.id;
      var username_id = "{{user.id}}";
      socket.send(
        JSON.stringify({
          action: "increase",
          id: orderId,
          username_id: username_id,
        })
      );
    });
  });
  decreaseButtons.forEach((button) => {
    button.addEventListener("click", () => {
      const orderId = button.dataset.id;
      var username_id = "{{user.id}}";
      socket.send(
        JSON.stringify({
          action: "decrease",
          id: orderId,
          username_id: username_id,
        })
      );
    });
  });

  deleteButtons.forEach((button) => {
    button.addEventListener("click", () => {
      const orderId = button.dataset.id;
      var username_id = "{{user.id}}";
      socket.send(
        JSON.stringify({
          action: "delete",
          id: orderId,
          username_id: username_id,
        })
      );
    });
  });

  // Обработка сообщений от сервера
  socket.addEventListener("message", function (event) {
    const data = JSON.parse(event.data);
    const { action, id } = data;

    if (action) {
      const total = document.querySelector(`.total`);
      total.textContent = "Сумма заказа: " + data["total"] + ".00 рублей";

      const total_total = document.querySelector(`.total_total`);
      total_total.textContent = "Сумма заказа: " + data["total"] + ".00 рублей";

      const quantity = document.querySelector(
        `.order-product-quantity[data-id="${id}"]`
      );
      quantity.textContent = data["quantity"];
      const order_quantity = document.querySelector(
        `.order_quantity[data-id="${id}"]`
      );
      order_quantity.textContent = data["quantity"];

      const order_price = document.querySelector(
        `.order_price[data-id="${id}"]`
      );

      if (action === "increase") {
        const quantitySpan = document.querySelector(
          `.quantity[data-id="${id}"]`
        );
        const currentQuantity = parseInt(quantitySpan.textContent);
        quantitySpan.textContent = currentQuantity + 1;
      } else if (action === "decrease") {
        const quantitySpan = document.querySelector(
          `.quantity[data-id="${id}"]`
        );
        const currentQuantity = parseInt(quantitySpan.textContent);
        quantitySpan.textContent = data["quantity"];
      } else if (action === "delete") {
        const gridItemElement = document.querySelector(
          `.main-div[data-id="${id}"]`
        );
        gridItemElement.remove();
        const gridItemElementDetail = document.querySelector(
          `.main-div-detail[data-id="${id}"]`
        );
        gridItemElementDetail.remove();
      }

      const quantitySpan = document.querySelector(`.quantity[data-id="${id}"]`);
      const int_quantity = parseInt(quantitySpan.textContent);
      const int_order_price = parseInt(order_price.textContent);
      const sum = int_quantity * int_order_price;
      const order_sum = document.querySelector(`.order_sum[data-id="${id}"]`);
      order_sum.textContent = sum + ".00";
    }
  });
</script>

{% endblock content %}
