{% extends 'index.html' %}
<!-- prettier-ignore -->
{% block content %} {% load static %}
<html>
  <head>
    <link rel="stylesheet" href="/static/styles/menu-grid.css" />
  </head>
  <body>
    <h1>{{dish_type}}</h1>

    <a href="/menu/">Все блюда</a>
    <a href="/menu/salads/">Салаты</a>
    <a href="/menu/hot_dishes/">Горячее</a>
    <a href="/menu/drinks/">Напитки</a>
    <a href="/menu/desserts">Десерт</a>
    <div class="grid-container">
      {% for current_dish in current_dishes %}
      <div class="grid-item">
        <a href="/menu/dishes/{{current_dish.tittle}}"
          ><img
            src="http://localhost:8000/media/menu_images/{{current_dish.type}}/{{current_dish.name}}.png"
        /></a>
        <h3>
          {{current_dish.tittle}} / {{current_dish.weight}} гр. /
          {{current_dish.price}} руб.
        </h3>
        <h2>
          <button
            class="order-button"
            data-id="{{current_dish.id}}"
            data-name="{{current_dish.tittle}}"
          >
            Заказать
          </button>
        </h2>
      </div>
      {% endfor %}
      <script>
        // Код JavaScript для обработки WebSocket-соединения и уведомлений

        const notificationArea = document.getElementById("notification-area");
        const orderButtons = document.querySelectorAll(".order-button");
        let MySocket;

        function initWebSocket() {
          MySocket = new ReconnectingWebSocket(
            "ws://" + window.location.host + "/ws/CartSocket/"
          );

          MySocket.onopen = function () {
            console.log("WebSocket соединение открыто.");
          };

          MySocket.onmessage = function (e) {
            const notification = JSON.parse(e.data);
            alert(notification);
          };

          MySocket.onclose = function () {
            console.log("WebSocket соединение закрыто. Переподключение...");
          };
        }

        function SendNotification(notification) {
          // Проверяем, что WebSocket-соединение открыто, прежде чем отправить уведомление
          if (MySocket && MySocket.readyState === WebSocket.OPEN) {
            MySocket.send(JSON.stringify(notification));
          } else {
            console.log("WebSocket соединение не установлено.");
          }
        }

        // Добавляем обработчик для каждой кнопки "Заказать"
        orderButtons.forEach((button) => {
          const dishId = button.dataset.id;
          const dishTittle = button.dataset.name;
          button.addEventListener("click", function () {
            // Если WebSocket-соединение уже открыто, отправляем уведомление на сервер
            if (MySocket && MySocket.readyState === WebSocket.OPEN) {
              var current_user_id = "{{user.id}}";
              const notificationData = {
                message: `Заказ "${dishTittle}" принят.`,
                id: dishId,
                current_user_id: current_user_id,
              };
              SendNotification(notificationData);
            } else {
              // Если WebSocket-соединение еще не открыто, создаем новое и отправляем уведомление
              initWebSocket();
              var current_user_id = "{{user.id}}";
              const notificationData = {
                message: `Заказ "${dishTittle}" принят.`,
                id: dishId,
                current_user_id: current_user_id,
              };
              SendNotification(notificationData);
            }
          });
        });

        // Инициализация WebSocket-соединения при загрузке страницы
        initWebSocket();
      </script>
    </div>
  </body>
</html>
{% endblock content %}
