{% extends 'index.html' %} {% block content %} {% load static %}
<h1>Формирование банкета</h1>
<head>
  <script>
    var username_id_added = "{{user.id}}";
    var current_client_id_added = "{{current_client.id}}";
    var current_client_name = "{{current_client.type}}";
    localStorage.setItem("username_id", username_id_added);
    localStorage.setItem("current_client_id", current_client_id_added);
    localStorage.setItem("dishFilter", current_client_id_added);
    localStorage.setItem("current_client_name", current_client_name);
    var username_id = localStorage.getItem("username_id");
    var current_client_id = localStorage.getItem("current_client_id");
  </script>

  <link rel="stylesheet" href="/static/styles/banquet.css" />
</head>
<body>
  <h1>
    Сумма заказа:
    <span
      class="banquet-total-price"
      data-id="{{banquet.id}}"
      id="{{banquet.id}}"
      >{{banquet.total_price}}.00 ₽</span
    >
    <button class="confirm-order">
      <a href="/banquet/ordering/">Оформить заказ</a>
    </button>
    <button class="confirm-order-modal">Оформить</button>
  </h1>
  <div class="body">
    <div class="vseClients" id="all_clients">
      <div class="banquet-additional-dishes">
        <div class="banquet-additional-dish-2">
          <div
            class="my_client formaClienta menu-client-btn"
            data-id="additional"
          >
            <div class="formaClienta_header">
              <div class="extra-dishes">
                <div class="extra-dishes-text">Дополнительные блюда</div>
              </div>
            </div>
            <div
              class="vash_zakaz"
              data-id="{{banquet.id}}"
              data-name="{{banquet.type}}"
            >
              <div class="additional-dishes" data-banquet-id="{{banquet.id}}">
                {% if banquet.additional.all %}
                <div class="additional-dishes-sign">
                  Выбранное дополнительно
                  <button
                    class="clear-additional-btn-additional"
                    data-id="{{banquet.id}}"
                  >
                    Очистить
                  </button>
                </div>
                {% for client_dish in banquet.additional.all %}
                <div class="adittional-dish" data-id="{{client_dish.id}}">
                  <div class="adittional-dish-item-img">
                    <img
                      class="client-img"
                      data-id="{{client_dish.product.id}}"
                      data-name="{{client_dish.product.name}}"
                      data-tittle="{{client_dish.product.create_tittle2}}"
                      data-weight="{{client_dish.product.weight}}"
                      data-price="{{client_dish.product.price}}"
                      data-sostav="{{client_dish.product.ingredients}}"
                      data-type="{{client_dish.product.type}}"
                      src="http://localhost:8000/media/{{client_dish.product.image}}"
                    />
                  </div>
                  <div class="adittional-dish-item">
                    {{client_dish.product.name}}
                    <div class="client-order-price">
                      <span
                        class="client_order_price"
                        data-id="{{banquet.id}}"
                        data-order-id="{{client_dish.id}}"
                        id="{{client_dish.id}}"
                        >{{client_dish.price_count}}</span
                      >.00 ₽ ·
                      <span class="dish-weight"
                        >{{client_dish.product.weight}} гр.</span
                      >
                    </div>
                  </div>
                  <div class="adittional-dish-item-button-additional">
                    <div class="delete-btn-wrapper2-additional">
                      <button
                        class="decrease-btn-adittional"
                        data-id="{{client_dish.id}}"
                        data-banquetId="{{banquet.id}}"
                      >
                        <svg
                          width="1em"
                          height="1em"
                          viewBox="0 0 24 24"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                          class="decrease-btn-svg"
                        >
                          <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M6 12a1 1 0 0 0 1 1h10a1 1 0 1 0 0-2H7a1 1 0 0 0-1 1Z"
                            fill="currentColor"
                          ></path>
                        </svg>
                      </button>
                      <input
                        class="dish-number-input-adittional"
                        data-id="{{banquet.id}}"
                        data-dish-id="{{client_dish.id}}"
                        type="text"
                        value="{{client_dish.quantity}}"
                      />
                      <button
                        class="increase-btn-adittional"
                        data-id="{{client_dish.id}}"
                        data-banquetId="{{banquet.id}}"
                      >
                        <svg
                          width="1em"
                          height="1em"
                          viewBox="0 0 24 24"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                          class="increase-btn-svg"
                        >
                          <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M12 6a1 1 0 0 0-1 1v4H7a1 1 0 1 0 0 2h4v4a1 1 0 1 0 2 0v-4h4a1 1 0 1 0 0-2h-4V7a1 1 0 0 0-1-1Z"
                            fill="currentColor"
                          ></path>
                        </svg>
                      </button>
                    </div>

                    <button
                      class="delete-additional-btn"
                      data-id="{{client_dish.id}}"
                    >
                      <img
                        data-id="{{client_dish.id}}"
                        class="musorka-additional"
                        src="/static/images/trashcan.png"
                        alt="delete"
                      />
                    </button>
                  </div>
                </div>

                {% endfor %} {% endif %}
              </div>
            </div>
            <div class="client-total-price-and-menu-btn">
              <div class="client-total-price">
                Итого:
                <span class="order-price-bold">
                  <span
                    class="order-price-count-additional"
                    data-id="{{banquet.id}}"
                    id="{{banquet.id}}"
                    >{{banquet.total_price_additional}}</span
                  >.00 ₽</span
                >
              </div>
              <button
                class="details-button-additional"
                data-id="{{banquet.id}}"
                data-name="Дополнительные блюда"
              >
                Редактировать
              </button>
            </div>
          </div>
        </div>
      </div>
      {% if banquet.clients.all %} {% for client in banquet.clients.all %}
      <div
        class="my_client formaClienta menu-client-btn"
        data-id="{{client.id}}"
        data-name="{{client.type}}"
      >
        <div class="formaClienta_header">
          <input
            class="name-input"
            data-id="{{client.id}}"
            value="{{ client.type }}"
          />
          <p
            style="
              font-size: 10px;
              display: inline;
              color: #fff;
              margin-bottom: 12px;
            "
          >
            x
          </p>
          <input
            class="quantity-input"
            data-id="{{client.id}}"
            value="{{ client.quantity }}"
            pattern="[A-Za-z]{3}"
          />

          <button
            class="delete-client-btn"
            data-id="{{client.id}}"
            data-name="{{client.type}}"
          >
            <img
              data-id="{{client.id}}"
              class="musorka"
              src="/static/images/Мусорка.png"
              alt="delete"
            />
          </button>
        </div>
        <div
          class="vash_zakaz"
          data-id="{{client.id}}"
          data-name="{{client.type}}"
        >
          <div class="client-menu" data-id="{{client.id}}">
            {% if client.menu %}
            <div class="client-menu-btn">
              <h1 style="display: inline-block">{{client.menu}}</h1>
              <button
                class="delete-menu-btn"
                data-id="{{client.menu.id}}"
                data-clientId="{{client.id}}"
                style="margin-top: 0px"
              >
                Удалить
              </button>
            </div>
            {% for client_dish in client.menu.dishes.all %}
            <div class="client-menu-dish">
              <div class="adittional-dish-item-img">
                <img
                  class="client-img"
                  data-id="{{client_dish.product.id}}"
                  data-name="{{client_dish.product.name}}"
                  data-tittle="{{client_dish.product.create_tittle2}}"
                  data-weight="{{client_dish.product.weight}}"
                  data-price="{{client_dish.product.price}}"
                  data-sostav="{{client_dish.product.ingredients}}"
                  data-type="{{client_dish.product.type}}"
                  src="http://localhost:8000/media/{{client_dish.product.image}}"
                />
              </div>
              <div class="adittional-menu-dish-item">
                {{client_dish.product.name}} x
                <span
                  class="client_order_quantity"
                  data-id="{{client.id}}"
                  id="{{client_dish.id}}"
                  >{{client_dish.quantity}}
                </span>
                <div class="client-order-price">
                  <span
                    class="client_order_price"
                    data-id="{{client.id}}"
                    data-order-id="{{client_dish.id}}"
                    >{{client_dish.price_count}}</span
                  >.00 ₽ ·
                  <span class="dish-weight"
                    >{{client_dish.product.weight}} гр.</span
                  >
                </div>
              </div>
            </div>
            {% endfor %} {% comment %}
            <h1 style="margin-left: 15px">
              Итого:
              <span class="menu-total-price">
                <span class="menu-total" data-id="{{client.menu.id}}"
                  >{{client.menu.all_dishes_price}}</span
                >.00 ₽
              </span>
              с человека
            </h1>
            {% endcomment %}
            <div class="dotted-line"></div>
            {%endif%}
          </div>

          <div class="additional-dishes" data-id="{{client.id}}">
            {% if client.dishes.all %}
            <div class="additional-dishes-sign">
              Выбранные отдельно блюда
              <button class="clear-additional-btn" data-id="{{client.id}}">
                Очистить
              </button>
            </div>
            {% for client_dish in client.dishes.all %}
            <div class="adittional-dish" data-id="{{client_dish.id}}">
              <div class="adittional-dish-item-img">
                <img
                  class="client-img"
                  data-id="{{client_dish.product.id}}"
                  data-name="{{client_dish.product.name}}"
                  data-tittle="{{client_dish.product.create_tittle2}}"
                  data-weight="{{client_dish.product.weight}}"
                  data-price="{{client_dish.product.price}}"
                  data-sostav="{{client_dish.product.ingredients}}"
                  data-type="{{client_dish.product.type}}"
                  src="http://localhost:8000/media/{{client_dish.product.image}}"
                />
              </div>
              <div class="adittional-dish-item">
                {{client_dish.product.name}}
                <div class="client-order-price">
                  <span
                    class="client_order_price"
                    data-id="{{client.id}}"
                    data-order-id="{{client_dish.id}}"
                    id="{{client_dish.id}}"
                    >{{client_dish.price_count}}</span
                  >.00 ₽ ·
                  <span class="dish-weight"
                    >{{client_dish.product.weight}} гр.</span
                  >
                </div>
              </div>
              <div class="adittional-dish-item-button">
                <div class="delete-btn-wrapper">
                  <div class="delete-btn-wrapper2">
                    <button
                      class="decrease-btn"
                      data-id="{{client_dish.id}}"
                      data-clientId="{{client.id}}"
                    >
                      <svg
                        width="1em"
                        height="1em"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="decrease-btn-svg"
                      >
                        <path
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M6 12a1 1 0 0 0 1 1h10a1 1 0 1 0 0-2H7a1 1 0 0 0-1 1Z"
                          fill="currentColor"
                        ></path>
                      </svg>
                    </button>
                    <span
                      class="dish-number-input"
                      data-id="{{client.id}}"
                      data-dish-id="{{client_dish.id}}"
                      type="text"
                      value=""
                      >{{client_dish.quantity}}</span
                    >
                    <button
                      class="increase-btn"
                      data-id="{{client_dish.id}}"
                      data-clientId="{{client.id}}"
                    >
                      <svg
                        width="1em"
                        height="1em"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="increase-btn-svg"
                      >
                        <path
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M12 6a1 1 0 0 0-1 1v4H7a1 1 0 1 0 0 2h4v4a1 1 0 1 0 2 0v-4h4a1 1 0 1 0 0-2h-4V7a1 1 0 0 0-1-1Z"
                          fill="currentColor"
                        ></path>
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
            </div>

            {% endfor %} {% endif %}
          </div>
        </div>
        <div class="client-total-price-and-menu-btn">
          <div class="client-total-price">
            Итого:
            <span class="order-price-bold">
              <span
                class="order-price-count"
                data-id="{{client.id}}"
                id="{{client.id}}"
              >
                {{client.total_client_price}}</span
              >.00 ₽</span
            >
            x
            <span class="client-quantity" data-id="{{client.id}}"
              >{{client.quantity}}</span
            >
            человек =
            <span class="order-price-bold">
              <span
                class="client-price-count"
                data-id="{{client.id}}"
                id="{{client.id}}"
                >{{client.menu_and_orders_price_count}}</span
              >.00 ₽</span
            >
          </div>
          <button
            class="details-button"
            data-id="{{client.id}}"
            data-name="{{client.type}}"
          >
            Редактировать
          </button>
        </div>
      </div>

      {% endfor %} {% endif %}
      <button id="showFormBtn" class="formaClienta">+</button>
    </div>

    <div class="overflow2 hidden2"></div>
    <div class="menuu hidden2">
      <div class="dd-f">
        <button
          class="dish-filter {% if dish_type == 'samples' %}active{% endif %}"
          data-filter="samples"
          id="requestButton"
        >
          Готовые меню
        </button>
        <button
          class="dish-filter {% if dish_type == 'samples' %}active{% endif %}"
          data-filter="all"
          id="requestButton"
        >
          Все блюда
        </button>
        <button
          class="dish-filter {% if dish_type == 'salads' %}active{% endif %}"
          data-filter="salads"
          id="requestButton"
        >
          Салаты
        </button>
        <button
          class="dish-filter {% if dish_type == 'hot_dishes' %}active{% endif %}"
          data-filter="hot_dishes"
          id="requestButton"
        >
          Горячие блюда
        </button>
        <button
          class="dish-filter {% if dish_type == 'drinks' %}active{% endif %}"
          data-filter="drinks"
          id="requestButton"
        >
          Напитки
        </button>
        <button
          class="dish-filter {% if dish_type == 'desserts' %}active{% endif %}"
          data-filter="desserts"
          id="requestButton"
        >
          Десерты
        </button>

        <div class="dish-search-wrapper" type="text">
          <input
            class="dish-search"
            type="text"
            id="dish-search"
            placeholder="Введите запрос"
          />
          {% comment %}
          <div class="search-svg-wrapper">
            <svg
              class="search-svg"
              enable-background="new 0 0 24 24"
              height="24"
              viewBox="0 0 24 24"
              width="24"
              focusable="false"
              style="
                pointer-events: none;
                display: block;
                width: 100%;
                height: 100%;
              "
            >
              <path
                d="m20.87 20.17-5.59-5.59C16.35 13.35 17 11.75 17 10c0-3.87-3.13-7-7-7s-7 3.13-7 7 3.13 7 7 7c1.75 0 3.35-.65 4.58-1.71l5.59 5.59.7-.71zM10 16c-3.31 0-6-2.69-6-6s2.69-6 6-6 6 2.69 6 6-2.69 6-6 6z"
              ></path>
            </svg>
          </div>
          {% endcomment %}
        </div>

        <div class="menu-filters hidden">
          <button class="menu-filter" data-filter="Новогоднее">
            Новогодние
          </button>

          <button class="menu-filter" data-filter="Свадебное">Свадебные</button>

          <button class="menu-filter" data-filter="День рождения">
            День рождения
          </button>
        </div>
      </div>
      {% if dish_type != 'samples' %}
      <div class="grid-container">
        {% for current_dish in current_dishes %}
        <div class="grid-item">
          <h2>
            <button
              class="order-button"
              data-id="{{current_dish.id}}"
              data-name="{{current_dish.tittle}}"
            >
              {% if current_client %} Добавить для "<span
                class="client-name-2"
                data-id="{{client.id}}"
                >{{current_client.type}}</span
              >" {%else%} Выберите клиента {% endif %}
            </button>
          </h2>
        </div>

        {% endfor %}
      </div>

      {% else %}
      <!-- prettier-ignore -->
      <div class="grid-container">
      {% for menu_sample in current_dishes %}

      <h1>{{menu_sample}} текст чтобы  </h1>
      <h2>
        <button
          class="order-button"
          data-id="{{menu_sample.id}}"
          data-name="{{menu_sample.type}}"
        >
          {% if current_client %} Добавить для "<span
            class="client-name-2"
            data-id="{{client.id}}"
            >{{current_client.type}}</span
          >" {%else%} Выберите клиента {% endif %}
        </button>
      </h2>
       {% for dish in menu_sample.dishes.all %}
        <div class="grid-item dishes"    
          data-tittle="{{dish.product.create_tittle2}}"
          data-name="{{dish.product.name}}"
          data-weight="{{dish.product.weight}}"
          data-price="{{dish.product.price}}"
          data-sostav="{{dish.product.ingredients}}"
          data-type="{{dish.product.type}}"
        >
          <img
            src="http://localhost:8000/media/menu_images/{{dish.product.type}}/{{dish.product.create_tittle2}}.png"
        />
          <h3>{{dish.product.name}} / {{dish.product.weight}} гр. / {{dish.product.price}} ₽</h3>
        </div>
      {% endfor %}
      <div class="dotted-line"></div>
      
      {% endfor %}
    </div>

      {% endif %}
    </div>
    <div class="ordering-window-overflow hidden"></div>
    <div class="ordering-window hidden">
      <script
        src="https://api-maps.yandex.ru/2.1/?apikey=7b0f4d61-5672-4275-903c-8235206c10c7&lang=ru_RU"
        type="text/javascript"
      ></script>

      <div id="map" class="map" style="width: 100%; height: 100%"></div>
      <script>
        ymaps.ready(function () {
          var myMap = new ymaps.Map("map", {
            center: [58.1, 56.24],
            zoom: 10,
            options: {
              iconCursor: "arrow",
            },
          });
          var cursor = myMap.cursors.push("pointer");
          var previousPlacemark = null;
          myMap.events.add("click", function (e) {
            if (previousPlacemark) {
              myMap.geoObjects.remove(previousPlacemark);
            }

            var coords = e.get("coords");
            localStorage.setItem("current_coords", coords);
            ymaps.geocode(coords).then(function (res) {
              // Получаем первый результат геокодирования
              var firstGeoObject = res.geoObjects.get(0);

              // Извлекаем адрес и выводим его
              var address = firstGeoObject.getAddressLine();
              localStorage.setItem("address", address);
            });
            var myPlacemark = new ymaps.Placemark(
              coords,
              {
                // Ваш контент для метки, например, подсказка.
                hintContent: "Метка здесь!",
              },
              {
                // Опции для метки, если необходимо.
                // Например, устанавливаем курсор в виде стрелки.
                iconLayout: "default#image",
                iconImageHref: "/static/images/cursor.png", // Путь к изображению метки
                iconImageSize: [60, 60], // Размеры изображения метки
                iconImageOffset: [-32, -32], // Смещение изображения метки
                iconCursor: "grabbing",
                draggable: true,
              }
            );
            previousPlacemark = myPlacemark;
            myMap.geoObjects.add(myPlacemark);

            myPlacemark.events.add("drag", function (e) {
              cursor = myMap.cursors.push("grab");
            });
            myPlacemark.events.add("dragend", function (e) {
              cursor = myMap.cursors.push("pointer");
              localStorage.setItem(
                "current_coords",
                myPlacemark.geometry.getCoordinates()
              );
              var coords = myPlacemark.geometry.getCoordinates();
              ymaps.geocode(coords).then(function (res) {
                // Получаем первый результат геокодирования
                var firstGeoObject = res.geoObjects.get(0);
                var address = firstGeoObject.getAddressLine();
                localStorage.setItem("address", address);
              });
            });
          });
        });
      </script>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/static/js/banquet_changing.js"></script>
  <script src="/static/js/banquet_filters.js"></script>
  <script src="/static/js/banquet_edit_links.js"></script>
  <script src="/static/js/banquet_event_loaders.js"></script>

  <script>
    $(".my_client").each(function () {
      if ($(this).find(".vash_zakaz").hasClass("active")) {
        $(this).addClass("green-border"); // Добавляем класс для зеленой рамки
      }
    });
  </script>
  <script>
    function formatInteger(integer) {
      if (typeof integer === "number" && Number.isInteger(integer)) {
        const integerStr = integer.toLocaleString("en-US"); // Преобразование числа в строку с разделением тысяч
        const parts = integerStr.split(",");

        // Разделение на разряды
        let formattedInteger = "";
        while (parts.length > 0) {
          if (formattedInteger.length > 0) {
            formattedInteger = " " + formattedInteger;
          }
          formattedInteger = parts[parts.length - 1] + formattedInteger;
          parts.pop();
        }

        return formattedInteger;
      } else {
        return "Invalid input";
      }
    }

    let clientPriceCount = document.querySelectorAll(".client-price-count");
    clientPriceCount.forEach((button) => {
      let value = parseInt(button.textContent);
      if (!isNaN(value)) {
        let formattedValue = formatInteger(value);
        button.textContent = formattedValue;
      }
    });
    let banquetTotalPrice = document.querySelector(".banquet-total-price");
    let value = parseInt(banquetTotalPrice.textContent);
    if (!isNaN(value)) {
      let formattedValue = formatInteger(value);
      banquetTotalPrice.textContent = formattedValue + ".00 ₽";
    }
  </script>
</body>
{% endblock content %}
