{% extends 'index.html' %}

<!-- prettier-ignore -->
{% block content %} {% load static %}
<h1>Заказ банкета</h1>
<h2>
  Мероприятие {{current_banquet}}
  <!-- prettier-ignore -->
  {% for client in current_banquet.clients.all %}
  <h3 style="margin-left: 25px">{{client}}</h3>
  {% for dishorder in client.dishes.all %}
  <h5 style="margin-left: 50px">{{dishorder}}</h5>

  {% endfor %} {% endfor %}
</h2>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  console.log($);
  $.ajax({
    url: "http://127.0.0.1:8000/ordering/",
    type: "GET",
    dataType: "json",
    success: function (data) {
      // Обработка успешного ответа
      console.log(data);
    },
    error: function (jqXHR, textStatus, errorThrown) {
      console.error("Произошла ошибка:", textStatus, errorThrown);
    },
  });
</script>

{% endblock content %}
