{% extends 'index.html' %}

<!-- prettier-ignore -->
{% block content %} {% load static %}
<h1>Заказ банкета</h1>
<h2>
  Мероприятие {{current_banquet}}
  <!-- prettier-ignore -->
  {% for client in current_banquet.clients.all %}
  <h3 style="margin-left: 25px">{{client}}</h3>
  {% for dishorder in client.dishes.all %}
  <h5 style="margin-left: 50px">{{dishorder}}</h5>

  {% endfor %} {% endfor %}
</h2>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<button id="requestButton">Запросить данные</button>
<div id="result"></div>

<script>
  var json_data;
  var data;
  $("#requestButton").on("click", function () {
    $.ajax({
      url: "http://127.0.0.1:8000/banquet/ordering/",
      method: "GET",
      dataType: "json",
      success: function (data) {
        // Обработка успешного ответа
        $("#result").text(JSON.stringify(data));
        data_1 = JSON.parse(data);

        // Извлечение значений
        if (data_1.length > 0) {
          var banquetInfo = data_1;
          console.log(banquetInfo);
        }
      },
      error: function (xhr, status, error) {
        console.error(error);
      },
    });
  });
</script>

{% endblock content %}
