{% extends 'index.html' %}
<head>
  {% comment %} {% endcomment %}
</head>

<!-- prettier-ignore -->
{% block content %} {% load static %}
<link rel="stylesheet" href="/static/styles/ordering.css" />
<link rel="stylesheet" href="/static/styles/calendar.css" />
<h1>Заказ банкета</h1>
<h2>
  Мероприятие {{current_banquet}}
  <!-- prettier-ignore -->
  {% for client in current_banquet.clients.all %}
  <h3 style="margin-left: 25px">{{client}}</h3>
  {% if client.menu %}
  <h4 style="margin-left: 55px">{{client.menu}}</h4>
  {% for menu in client.menu.dishes.all %}
  <h4 style="margin-left: 70px">{{menu}}</h4>
  {% endfor %}{% endif %}
  <!-- prettier-ignore -->
  {% if client.dishes.all %}
  <h5 style="margin-left: 40px">Дополнительно:</h5>
  {% for dishorder in client.dishes.all %}
  <h5 style="margin-left: 75px">{{dishorder}}</h5>
  {% endfor %} {% endif %} {% endfor %}
  <h3 style="margin-left: 15px">
    <h5 style="margin-left: 20px">Дополнительно к клиентам:</h5>
    {% for additional_dish in current_banquet.additional.all %}
    <h4 style="margin-left: 25px">{{additional_dish}}</h4>
    {% endfor %}
  </h3>
</h2>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<style></style>
<div id="divToRemove">
  {% if current_banquet %}
  <h1>
    Мероприятие {{current_banquet}} стоимостью
    {{current_banquet.total_price}}.00 руб. + {{current_banquet.workers}}
    официантов x 400.00 руб. x <span id="hours_quantity">3</span> ч. =
    <span id="total">{{total}}</span>.00 руб.
  </h1>

  {% for dish_order in dish_orders %}
  <h1>{{dish_order}}</h1>
  {% endfor %}
  <form id="orderForm" method="POST" action="">
    {% csrf_token %}
    <!-- Delivery Address -->
    <input
      type="hidden"
      name="banquet_id"
      value="{{current_banquet.id}}"
      required
    />
    <label for="delivery_time">Время продолжительности мероприятия:</label>
    <input
      type="text"
      id="duration_time"
      name="duration_time"
      value="3"
      required
    />
    часов

    <br />
    <label for="delivery_addres">Адрес проведения мероприятия:</label>
    <input type="text" id="delivery_addres" name="delivery_addres" required />
    <br />

    <!-- Delivery Time -->
    <label for="delivery_time">Время начала мероприятия:</label>
    <input type="number" id="start_hours" name="start_hours" required />
    ч.
    <input type="number" id="start_minutes" name="start_minutes" required />
    мин.
    <br />

    <h1>Уже занятые даты: {{occupied_dates}}</h1>
    <script>
      var occupied_dates = "{{occupied_dates}}";
      // Преобразование HTML-кода в настоящий массив JavaScript
      var dataArray = JSON.parse(occupied_dates.replace(/&#x27;/g, '"'));

      // Создание нового массива с уникальными элементами
      var uniqueArray = Array.from(dataArray);
      console.log(uniqueArray); // Вывод в консоль нового массива с уникальными элементами
    </script>

    {% comment %}
    <div class="calendar-wrapper">
      <button id="btnPrev" type="button">Предыдущий</button>
      <button id="btnNext" type="button">Следующий</button>
      <div id="divCal"></div>
    </div>
    {% endcomment %}

    <label for="delivery_date">Дата начала:</label>
    <input type="date" id="delivery_date" name="delivery_date" required />
    <script>
      const today = new Date(); // Текущая дата
      const disabledDays = 2; // Количество дней для блокировки

      const deliveryDateInput = document.getElementById("delivery_date");
      var occupied_dates = "{{occupied_dates}}";
      // Преобразование HTML-кода в настоящий массив JavaScript
      var dataArray = JSON.parse(occupied_dates.replace(/&#x27;/g, '"'));

      // Создание нового массива с уникальными элементами
      var uniqueArray = Array.from(dataArray);
      var disabledDates = ["2023-08-20", "2023-08-25"];
      disabledDates = disabledDates.concat(uniqueArray);
      console.log(disabledDates);
      deliveryDateInput.addEventListener("input", function () {
        const selectedDate = new Date(this.value);
        this.classList.remove("invalid-date");
        // Вычисляем дату, которую нужно заблокировать (сегодня + disabledDays)
        const maxBlockedDate = new Date(today);
        maxBlockedDate.setDate(today.getDate() + disabledDays);
        if (disabledDates.includes(this.value)) {
          this.value = ""; // Очищаем значение, если выбрана заблокированная дата
          this.classList.add("invalid-date");
          alert(
            "Эта дата недоступна для выбора. На нее уже заказано мероприятие"
          );
        }

        if (selectedDate <= maxBlockedDate) {
          this.value = ""; // Очищаем значение, если выбрана заблокированная дата
          this.classList.add("invalid-date");
          alert("Эта дата недоступна для выбора 3 дня.");
        }
      });
    </script>
    <br />

    <!-- Order Comments -->
    <label for="order_comments">Комментарий к заказу:</label>
    <textarea
      id="order_comments"
      name="order_comments"
      rows="4"
      cols="50"
    ></textarea>
    <br />

    <!-- Submit Button -->
    <input type="submit" value="Оформить заказ" class="submit-btn" />
    <button class="submit-btn"><a href="/banquet">Отменить</a></button>
  </form>

  {% else %}

  <h1>У вас нету заказов на оформление</h1>

  {% endif %}
</div>

<script src="/static/js/banquet_ordering_calchours.js"></script>
<script src="/static/js/banquet_calendar.js"></script>
{% endblock content %}
