{% extends "index.html" %} {% block content %}
<div class="login_overflow"></div>
<div class="login_window">
  <form method="POST" action="">
    {% csrf_token %}
    <p class="login_pole">
      <label for="id_username">Login: </label>
      <input type="text" name="username" required="" id="id_username" />
    </p>

    <p class="login_pole">
      <label for="id_password">Password:</label>
      <input type="password" name="password" required="" id="id_password" />
      <a class="forgot_pass" href="/reset-password">Забыли пароль?</a>
    </p>

    <input class="login_button" type="submit" value="Войти" />
  </form>
</div>
{% endblock content %}
