<!DOCTYPE html>
{%load static%}
<body>
  <header class="header">
    <a href="index.html"
      ><img class="header_logo" src="/static/images/Logo.png" alt="logo"
    /></a>
    <ul class="header_menu">
      <li class="header_menu_li"><a href="#">Меню</a></li>
      <li class="header_menu_li"><a href="#">Акции</a></li>
      <li class="header_menu_li"><a href="#">Доставка</a></li>
      <li class="header_menu_li"><a href="#">Контакты</a></li>
    </ul>
    <div class="aboutYou">
      <a href="#"
        ><img
          src="/static/images/Corzina.png"
          alt="korzina"
          class="aboutYou_korzina"
      /></a>
      <a href="#"
        ><img
          src="/static/images/Polzovatel.png"
          alt="profile"
          class="aboutYou_profile"
      /></a>
    </div>
  </header>
  <main class="main"></main>
  <footer class="footer"></footer>
</body>
