<!DOCTYPE html>
{% load static %}
<body>
  <header class="header">
    <a href="/"
      ><img class="header_logo" src="/static/images/Logo.png" alt="logo"
    /></a>
    <ul class="header_menu">
      <li class="header_menu_li"><a href="/menu">Меню</a></li>
      <li class="header_menu_li">
        {% if request.user.is_authenticated %} {% if request.user.is_staff %}
        <a href="/profile/orders">Заказы пользователей</a>
        {% else %}
        <a href="/profile/orders">Мои заказы</a>
        {% endif %} {%else%}
        <a href="/login/?next=/profile/orders/">Мои заказы</a>
        {%endif%}
      </li>
      <li class="header_menu_li"><a href="/banquet">Заказ мероприятий</a></li>
      <li class="header_menu_li"><a href="#">Контакты</a></li>
    </ul>
    <div class="aboutYou">
      {% if request.user.is_authenticated %}
      <a href="/profile"
        ><img
          src="/static/images/Polzovatel.png"
          alt="profile"
          class="aboutYou_profile"
      /></a>
      {%else%}
      <div class="vhod">
        <a href="/login" class="login" style="margin: 5px 0">LOGIN</a>
        <p style="display: inline; margin: 5px 0">/</p>
        <a href="/register" class="register" style="margin-bottom: 5px"
          >REGISTER</a
        >
      </div>
      {% endif %}
    </div>
  </header>
  <main class="main"></main>
  <footer class="footer"></footer>
</body>
