<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <script src="{% static 'js/reconnecting-websocket.js' %}"></script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/styles/Reset.css" />
    <link rel="stylesheet" href="/static/styles/header.css" />
    <link rel="stylesheet" href="/static/styles/index.css" />
  </head>
  <body>
    <style>
      body {
        font-family: Arial, sans-serif;
        color: white;
        font-size: 35px;
        margin: 0;
        padding: 0;
      }
    </style>
    {% include 'header.html' %} {% block content %}
    <!-- Просто чтобы было -->

    {% endblock content %}
  </body>
</html>
