{% extends "index.html" %}
{% block title %}Добро пожаловать!{% endblock %}
{% block content %}
{% if page == 'login'%}
<div>
  <form method="POST" action="">
    {% csrf_token %} {{form.as_p}}
    <input type="submit" value="Войти" />
    <div style="display: block; margin-top: 10px">
      <label>Have not an account yet?</label>
      <a href="/register">Sign up</a>
    </div>
  </form>
</div>

{%else%}
<div>
  <form method="POST" action="">
    {% csrf_token %}
    <label for="id_username">Username:</label>
    <input type="text" name="username" maxlength="150" autocapitalize="none" autocomplete="username" autofocus="" required="" id="id_username">
    
      <span class="helptext">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</span>   
  </p> 

  <p>
    <label for="id_email">Email:</label>
    <input type="email" name="email" maxlength="30" autocapitalize="none" autocomplete="email" autofocus="" required="" id="id_email">   
  </p> 

  <p>
    <label for="id_password1">Password:</label>
    <input type="password" name="password1" autocomplete="new-password" required="" id="id_password1">
    
      <span class="helptext"></span></p><ul><li>Your password can’t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can’t be a commonly used password.</li><li>Your password can’t be entirely numeric.</li></ul> 
  </p>
  <p>
    <label for="id_password2">Password confirmation:</label>
    <input type="password" name="password2" autocomplete="new-password" required="" id="id_password2">
    
      <span class="helptext">Enter the same password as before, for verification.</span>   
  </p>
    <input type="submit" value="Register">
    <div style="display: block; margin-top: 10px">
      <label>Already have an account?</label>
      <a href="/login/">Sign in</a>
    </div>
  </form>
</div>
<!-- prettier-ignore -->
{%endif%}

{% endblock %}
