body {
  margin: 0;
  overflow: hidden;
}

.moving-element {
  position: absolute;
  background-color: #007bff;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;

  /* Начальное положение элементов */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.shake {
  animation: shakeAnimation 0.1s ease-in-out;
}

@keyframes shakeAnimation {
  0% {
    transform: translate(-50%, -50%);
  }
  25% {
    transform: translate(-52%, -50%);
  }
  50% {
    transform: translate(-50%, -52%);
  }
  75% {
    transform: translate(-48%, -50%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}
