/* Простой стиль для красивого отображения формы */
body {
  font-family: Arial, sans-serif;
  padding-bottom: 2000px; /* Размер пространства внизу body (можно задать нужное значение) */
  background-color: #fddada;
  color: #4a644b;
}

/* Скрываем полосу прокрутки на всем документе */
body::-webkit-scrollbar {
  width: 0; /* Вы можете настроить толщину */
}

/* Опционально: изменяем цвет трека */
body::-webkit-scrollbar-track {
  background: transparent; /* Измените на свой цвет */
}

form {
  margin-top: 20px;
  display: none; /* Форма будет скрыта по умолчанию */
}
label {
  display: block;
  margin-bottom: 10px;
}
input {
  padding: 5px;
  margin-bottom: 10px;
  width: 300px;
}

.main-grid-container {
  display: grid;
  padding: 3% 3%;
  gap: 5%;
}

/* Styles for the submit button */
input[type="submit"] {
  background-color: #e74c3c; /* Red background color */
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 50px; /* Make it oval with a larger border-radius */
  cursor: pointer;
  transition: transform 0.1s ease; /* Add a transformation effect on press */
}

/* Add a scale-down effect when the button is pressed */
input[type="submit"]:active {
  transform: scale(0.95);
}

.quantity-input,
.quantity-input:focus,
.name-input:focus {
  border-color: #d80000;
}

.quantity-input::-webkit-inner-spin-button,
.quantity-input::-webkit-outer-spin-button,
.name-input::-webkit-inner-spin-button,
.name-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity-input:focus::-webkit-inner-spin-button,
.quantity-input:focus::-webkit-outer-spin-button,
.name-input:focus::-webkit-inner-spin-button,
.name-input:focus::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.order-button[disabled] {
  opacity: 0.55;
}

/* Styles for the buttons */
.increase-btn,
.decrease-btn,
.delete-menu-btn,
.delete-btn {
  background-color: #e74c3c; /* Change background color to red */
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add a transition effect */
  border-radius: 10px;
}

/* Change button background color to a darker shade of red when hovered */
.increase-btn:hover,
.decrease-btn:hover,
.delete-menu-btn:hover,
.delete-btn:hover {
  background-color: #bf3a2b; /* Darker shade of red */
}

.delete-menu-btn:active,
.delete-btn:active,
.order-button:active,
.dish-filter:active {
  transform: scale(0.85);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
/*----------------------------------------------------------------*/
.body {
  padding: 0 0%;
}

.vseClients {
  display: flex;
  max-width: 100%;
  margin: 15px;
  flex-wrap: wrap;
  margin-left: 120px;
  gap: 150px;
}

#showFormBtn {
  font-size: 80px;
  display: inline;
}

.formaClienta {
  width: 240px;
  height: 360px;
  scale: 1.5;
  border-radius: 20px;
  border: 3px solid #4a644b;
  background-color: #fff;
  color: #4a644b;
  margin: 100px 45px;
  display: inline-block;
}

.formaClienta_header {
  padding: 5px;
  padding-top: 15px;
  height: 40px;
  background-color: #4a644b;
  border-radius: 15px 15px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vash_zakaz {
  width: 100%;
  height: 313px;
  background-color: #fff;
  border-radius: 0 0 20px 20px;
}

.name-input {
  width: 140px;
  height: 25px;
  font-size: 14px;
  border-radius: 10px;
  text-align: center;
}

.quantity-input {
  width: 43px;
  height: 25px;
  font-size: 14px;
  border-radius: 10px;
  text-align: center;
}

.delete-client-btn {
  background-color: rgba(10, 10, 10, 0);
}

.musorka {
  width: 17px;
  margin-bottom: 10px;
}

.menu-client-btn.active {
  box-shadow: 1px 1px 20px 10px #4a644b;
  transform: scale(1.1);
}

.menuu {
  display: inline-block;
  color: black;
  background-color: #fff;
  position: fixed; /* фиксированное положение */
  top: 50%;
  left: 50%;
  z-index: 10;
  width: 1200px;
  height: 800px;
  margin: -400px 0 0 -600px;
  border-radius: 30px;
  padding: 15px;
  border: 5px solid #4a644b;

  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;

  animation: fadeIn 0.25s ease-in-out forwards; /* Применяем анимацию при появлении */
}

.menuu::-webkit-scrollbar {
  width: 0; /* Устанавливаем нулевую ширину */
  height: 0;
}

.overflow2 {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 5;
}

.hidden2 {
  display: none;
}

.dish-filter {
  background-color: #fff;
  color: #4a644b;
  border-radius: 10px;
  border: 1.5px solid #4a644b;
  cursor: pointer;
  padding: 5px;
  margin: 0 10px;
  font-size: 20px;
  transition: background-color 0.3s ease,
    transform 0.3s cubic-bezier(0.59, 0.3, 0.17, 1.47); /* Add a transition effect on hover */
}

.dd-f {
  display: flex;
  justify-content: center;
}

.grid-container {
  display: flex;
  justify-content: flex-end;
  padding: 15px 30px;
  flex-wrap: wrap;
  flex-direction: row-reverse;

  /* Добавляем анимацию */
  opacity: 0; /* Начальное значение прозрачности */
  transition: opacity 150ms ease-in-out; /* Анимация для свойства opacity */
}

.grid-container.appear {
  opacity: 1;
}
.grid-container.disappear {
  opacity: 0;
  transition: opacity 0ms; /* Моментальное изменение прозрачности */
}

.grid-container.menu-mode {
  display: flex;
  justify-content: flex-end;
  padding: 15px 6%;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  row-gap: 50px;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center; /* Выравнивание по центру по горизонтали */
  justify-content: space-evenly;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  width: 250px;
  height: 275px;
  color: #4a644b;
}

.grid-item-2 {
  display: flex;
  align-items: center; /* Выравнивание по центру по горизонтали */
  justify-content: center;
  text-align: center;
}

.grid-item-test {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
}
.grid-item img {
  width: 92%;
  height: 92%;
  margin: 4%;
  border-radius: 10px;
  object-fit: cover; /* Масштабируем изображение, чтобы оно полностью заполнило элемент */
}

.grid-item h3 {
  margin-top: 10px;
  font-size: 17px;
  margin: 4%;
}

.grid-container2 {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 30px;
}

.grid-container2 h1 {
  width: 100%; /* Занимает всю ширину первой строки */
  text-align: center; /* Центрирование заголовка */
}

.grid-item2 {
  width: calc(33.33% - 20px); /* Три элемента в ряд, учитывая отступы */
  height: 250px;
  margin: 10px; /* Отступ между элементами */
  color: #4a644b;
  border-radius: 10px;
  border: 1.5px solid #4a644b;
}

.grid-item2 img {
  width: 92%;
  height: 92%;
  margin: 4%;
  border-radius: 10px;
  object-fit: cover; /* Масштабируем изображение, чтобы оно полностью заполнило элемент */
}

.grid-item2 h3 {
  margin-top: 10px;
  font-size: 17px;
  margin: 4%;
}

.confirm-order {
  background-color: #4a644b;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
}

.confirm-order:hover {
  background-color: #3b513c;
}

.confirm-order:active {
  transform: scale(0.95);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.dish-filter.highlighted {
  background-color: #4a644b; /* Зеленый цвет фона */
  color: #fff; /* Белый цвет текста */
  border: 2px solid #4a644b; /* Обводка бордюра */
  border-radius: 10px;
}

.order-button {
  background-color: #4a644b;
  color: white;
  scale: 0.95;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  transition: border-color 0.3s ease, background-color 0.3s ease,
    backdrop-filter 3s ease, transform 0.15s cubic-bezier(0.59, 0.3, 0.17, 1.47),
    box-shadow 0.3s ease;
}

.order-button:hover {
  background-color: #374a37; /* Зеленый фон при наведении */
}

.dishes {
  text-align: center;
}

.modWind {
  text-align: left;
  overflow: auto;
  opacity: 0;
  animation: fadeIn 0.25s ease-in-out forwards; /* Применяем анимацию при появлении */
}

.modWind img {
  width: 400px;
}
.overflow {
  opacity: 0;
  animation: fadeIn 0.25s ease-in-out forwards; /* Применяем анимацию при появлении */
}

.overflow2 {
  opacity: 0;
  animation: fadeIn 0.25s ease-in-out forwards; /* Применяем анимацию при появлении */
}

.hidden {
  display: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    scale: 1;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.dish-filter:hover {
  transform: scale(1.1);
}

.order-button:hover {
  transform: scale(1.1);
}

.order-button:active {
  transform: scale(0.9);
}

.grid-dish-img {
  /* Ваши текущие стили изображения */
  transition: box-shadow 0.3s ease; /* Добавляем анимацию для свойства box-shadow */
  transition: transform 0.3s ease;
}

.grid-dish-img.active {
  box-shadow: 0 0 45px rgba(74, 100, 75, 2); /* Зеленая тень при наведении */
  transform: scale(1.125);
}

.grid-dish-img.disappear-shadow.active {
  box-shadow: 0 0 45px rgba(74, 100, 75, 2); /* Зеленая тень при наведении */
  transform: scale(1.125);
}

.grid-dish-img:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.grid-dish-img {
  box-shadow: none;
}

.appear-shadow {
  animation: appearAnimation 0.5s ease forwards;
}

.disappear-shadow {
  animation: disappearAnimation 0.5s ease forwards;
}

@keyframes appearAnimation {
  from {
    box-shadow: none;
    scale: 1;
  }
  to {
    box-shadow: 0 0 50px rgba(74, 100, 75, 2);
    scale: 1.1;
  }
}

@keyframes disappearAnimation {
  from {
    box-shadow: 0 0 50px rgba(74, 100, 75, 2);
    scale: 1.1;
  }
  to {
    box-shadow: none;
    scale: 1;
  }
}

.appear-shadow-delete {
  animation: appearDeleteAnimation 0.5s ease forwards;
}

.disappear-shadow-delete {
  animation: disappearDeleteAnimation 0.5s ease forwards;
}

@keyframes appearDeleteAnimation {
  from {
    box-shadow: none;
    scale: 1;
  }
  to {
    box-shadow: 0 0 50px rgba(255, 80, 0, 2);
    scale: 0.9;
  }
}

@keyframes disappearDeleteAnimation {
  from {
    box-shadow: 0 0 50px rgba(255, 80, 0, 2);
    scale: 0.9;
  }
  to {
    box-shadow: none;
    scale: 1;
  }
}

.menu-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(50px, auto);
  gap: 10px;
}

.menu-item {
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #ccc;
  color: #4a644b;
  font-size: 17px;

  width: 250px;
  height: 230px;
}

.menu-item1 {
  display: grid;
  justify-content: center;
  gap: 10px;
  grid-column: 1 / span 4; /* Этот элемент занимает 5 колонок */
  color: #4a644b;
}

.menu-item1 h2 {
  display: inline-block;
}

.menu-item img {
  width: 92%;
  height: 92%;
  margin: 4%;
  border-radius: 10px;
  object-fit: cover; /* Масштабируем изображение, чтобы оно полностью заполнило элемент */
}

.my_client,
.formaClienta {
  transition: transform 0.3s ease;
  transform: scale(1);
}

.my_client:hover,
.formaClienta:hover {
  transform: scale(1.075);
}

.banquet-total-price {
  font-style: italic;
}
