/* Простой стиль для красивого отображения формы */
body {
  font-family: Arial, sans-serif;
  padding-bottom: 2000px; /* Размер пространства внизу body (можно задать нужное значение) */
  background-color: #fddada;
  color: #4a644b;
}
form {
  margin-top: 20px;
  display: none; /* Форма будет скрыта по умолчанию */
}
label {
  display: block;
  margin-bottom: 10px;
}
input {
  padding: 5px;
  margin-bottom: 10px;
  width: 300px;
}

.main-grid-container {
  display: grid;

  padding: 10px;
}

/* Styles for the submit button */
input[type="submit"] {
  background-color: #e74c3c; /* Red background color */
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 50px; /* Make it oval with a larger border-radius */
  cursor: pointer;
  transition: transform 0.1s ease; /* Add a transformation effect on press */
}

/* Add a scale-down effect when the button is pressed */
input[type="submit"]:active {
  transform: scale(0.95);
}

.quantity-input,
.quantity-input:focus,
.name-input:focus {
  border-color: #d80000;
}

.quantity-input::-webkit-inner-spin-button,
.quantity-input::-webkit-outer-spin-button,
.name-input::-webkit-inner-spin-button,
.name-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity-input:focus::-webkit-inner-spin-button,
.quantity-input:focus::-webkit-outer-spin-button,
.name-input:focus::-webkit-inner-spin-button,
.name-input:focus::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.order-button[disabled] {
  opacity: 0.55;
}

/* Styles for the buttons */
.increase-btn,
.decrease-btn,
.delete-menu-btn,
.delete-btn {
  background-color: #e74c3c; /* Change background color to red */
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add a transition effect */
  border-radius: 10px;
}

/* Change button background color to a darker shade of red when hovered */
.increase-btn:hover,
.decrease-btn:hover,
.delete-menu-btn:hover,
.delete-btn:hover {
  background-color: #bf3a2b; /* Darker shade of red */
}

.delete-menu-btn:active,
.delete-btn:active,
.order-button:active,
.dish-filter:active {
  transform: scale(0.85);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
/*----------------------------------------------------------------*/
.body {
  padding: 0 230px;
}

.vseClients {
  display: flex;
  max-width: 1200px;
  margin: 15px;
  flex-wrap: wrap;
}

#showFormBtn {
  font-size: 80px;
  display: inline;
}

.formaClienta {
  width: 240px;
  height: 360px;
  border-radius: 20px;
  border: 3px solid #4a644b;
  background-color: #fff;
  color: #4a644b;
  margin: 15px 30px;
  display: inline-block;
}

.formaClienta_header {
  padding: 5px;
  padding-top: 15px;
  height: 40px;
  background-color: #4a644b;
  border-radius: 15px 15px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vash_zakaz {
  width: 100%;
  height: 315px;
  background-color: #fff;
  border-radius: 0 0 20px 20px;
}

.name-input {
  width: 140px;
  height: 25px;
  font-size: 14px;
  border-radius: 10px;
  text-align: center;
}

.quantity-input {
  width: 40px;
  height: 25px;
  font-size: 14px;
  border-radius: 10px;
  text-align: center;
}

.delete-client-btn {
  background-color: rgba(10, 10, 10, 0);
}

.musorka {
  width: 17px;
  margin-bottom: 10px;
}

.menu-client-btn.active {
  box-shadow: 1px 1px 20px 10px #4a644b;
}

.menuu {
  display: inline-block;
  color: black;
  background-color: #fff;
  position: fixed; /* фиксированное положение */
  top: 50%;
  left: 50%;
  z-index: 10;
  width: 1200px;
  height: 800px;
  margin: -400px 0 0 -600px;
  border-radius: 30px;
  padding: 15px;
  border: 5px solid #4a644b;
}

.overflow2 {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 5;
}

.hidden2 {
  display: none;
}

.order-button {
}

.dish-filter {
  background-color: #fff;
  color: #4a644b;
  border-radius: 10px;
  border: 1.5px solid #4a644b;
  cursor: pointer;
  padding: 5px;
  margin: 0 10px;
  font-size: 20px;
  transition: background-color 0.3s ease; /* Add a transition effect on hover */
}

.dd-f {
  display: flex;
  justify-content: center;
}

.grid-container {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  flex-wrap: wrap;
}

.grid-item {
  width: 250px;
  height: 250px;
  color: #4a644b;
  border-radius: 10px;
  border: 1.5px solid #4a644b;
}

.grid-item img {
  width: 92%;
  height: 92%;
  margin: 4%;
  border-radius: 10px;
  object-fit: cover; /* Масштабируем изображение, чтобы оно полностью заполнило элемент */
}

.grid-item h3 {
  margin-top: 10px;
  font-size: 17px;
  margin: 4%;
}

.confirm-order {
  background-color: #4a644b;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
}

.confirm-order:hover {
  background-color: #3b513c;
}

.confirm-order:active {
  transform: scale(0.95);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
